<app-navbar></app-navbar>

<div class="image-container">
  <img
    src="../../../assets/images/about.jpg"
    style="width: 100%; height: 650px"
  />
  <div class="about">About Us</div>
  <div class="learn">Learn more about CampZo</div>
</div>

<div class="container">
  <p
    class="mt-5"
    style="
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 40px;
      text-align: center;
    "
  >
    Our Best Views
  </p>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="image-item">
        <img
          src="../../../assets/images/img1.jpg"
          alt="Image 1"
          class="img-fluid"
          style="height: 300px; width: 400px"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="image-item">
        <img
          src="../../../assets/images/img2.jpg"
          alt="Image 2"
          class="img-fluid"
          style="height: 300px; width: 400px"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="image-item">
        <img
          src="../../../assets/images/img3.jpg"
          alt="Image 3"
          class="img-fluid"
          style="height: 300px; width: 400px"
        />
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="image-item">
        <img
          src="../../../assets/images/img4.jpg"
          alt="Image 1"
          class="img-fluid"
          style="height: 300px; width: 400px"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="image-item">
        <img
          src="../../../assets/images/img5.jpg"
          alt="Image 2"
          class="img-fluid"
          style="height: 300px; width: 400px"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="image-item">
        <img
          src="../../../assets/images/img6.jpg"
          alt="Image 3"
          class="img-fluid"
          style="height: 300px; width: 400px"
        />
      </div>
    </div>
  </div>
</div>

<section class="camping-section p-1 mt-5" style="background-color: #c7d2fe">
  <div class="container">
    <p
      class="m-1 mb-3"
      style="
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
      "
    >
      Embarking on the Great Outdoors! Unleashing Adventure!
    </p>

    <!-- Section Content -->
    <p class="section-content" style="text-align: justify">
      At <strong>CampZo</strong>, we are dedicated to delivering unparalleled
      camping experiences, seamlessly blending our passion and vigor with a
      wealth of expertise. Our true fulfillment lies in catering to a myriad of
      delighted clients, all of whom have basked in the wonders and inspiration
      of outdoor adventures.
    </p>

    <p class="section-content" style="text-align: justify">
      Explore the Wild with Confidence. Discover a world where nature meets
      comfort, where every campfire tale becomes a cherished memory.
      <strong>[Your Camping Company]</strong> is your trusted companion in
      creating extraordinary camping escapades. With a perfect fusion of
      enthusiasm and seasoned know-how, we craft journeys that resonate with the
      spirit of adventure.
    </p>

    <p class="section-content" style="text-align: justify">
      Why Choose <strong>CampZo</strong>? Unmatched Expertise: Drawing from
      years of hands-on experience, we curate camping trips that cater to every
      explorer's needs. Passionate Team: Our team is driven by an unyielding
      love for the outdoors, ensuring that every moment spent under the stars is
      filled with joy. Customer Satisfaction: Join the ranks of our satisfied
      clientele who have found inspiration and delight in the heart of nature.
    </p>

    <p class="section-content" style="text-align: justify">
      From rugged trails to tranquil lakesides, our camping excursions are
      designed to offer you a perfect blend of thrill and relaxation. Come,
      venture with us into the wilderness, where every step is a story waiting
      to unfold. <strong>CampZo</strong> – Where Every Journey is an Adventure!
    </p>
  </div>
</section>
<section class="team-section mt-5">
  <div class="container">
    <p
      class="m-1 mb-3"
      style="
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
      "
    >
      Our Team
    </p>
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../assets/images/person1.jpg"
            class="card-img-top"
            alt="Team Member 1"
          />
          <div class="card-body">
            <h3 class="team-member-name">John Doe</h3>
            <p class="team-member-role">Outdoor Adventure Guide Manager</p>
          
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../assets/images/person2.jpg"
            class="card-img-top"
            alt="Team Member 1"
          />
          <div class="card-body">
            <h3 class="team-member-name">Liza</h3>
            <p class="team-member-role">Campsite Chef Manager</p>
            <p class="card-text">
          
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../assets/images/person3.jpg"
            class="card-img-top"
            alt="Team Member 1"
          />
          <div class="card-body">
            <h3 class="team-member-name">Mark</h3>
            <p class="team-member-role">Gear Specialist Manager</p>
           
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../assets/images/person4.jpg"
            class="card-img-top"
            alt="Team Member 1"
          />
          <div class="card-body">
            <h3 class="team-member-name">Tessa</h3>
            <p class="team-member-role">Environmental Educator Manager</p>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../assets/images/person5.jpg"
            class="card-img-top"
            alt="Team Member 1"
          />
          <div class="card-body">
            <h3 class="team-member-name">Hardin</h3>
            <p class="team-member-role">Campfire Storyteller Manager</p>
          
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../assets/images/person6.jpg"
            class="card-img-top"
            alt="Team Member 1"
          />
          <div class="card-body">
            <h3 class="team-member-name">Rose</h3>
            <p class="team-member-role">Camping Trip Coordinator Manager</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt-3">
  <p style="color: #818cf8;">&copy; 2023 CampZo. All Rights Reserved.</p>
</div>

