<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top ms-4 me-4 mt-4"
  style="position: absolute"
>
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/logo/Capture.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt="Logo"
    />
    <span style="letter-spacing: 2px; color: #1e1b4b"> CampZo</span>
  </a>
</nav>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-6">
        <ng-lottie [options]="register"></ng-lottie>
      </div>
      <div class="col-6 shadow p-3 mb-5 bg-white rounded">
        <p style="color: #1e3a8a; font-size: 50px; letter-spacing: 2px">
          Register
        </p>
        <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email</label>
            <input
              type="email"
              id="form3Example3"
              class="form-control"
              name="email"
              ngModel
              pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
              required
              email
              #modelEmail="ngModel"
              [ngClass]="
                modelEmail.invalid && modelEmail.dirty ? 'is-invalid' : ''
              "
            />
            <div>
              <p
                *ngIf="modelEmail.invalid && modelEmail.dirty && modelEmail?.errors?.['pattern']"
                class="text-danger"
              >
                Please enter valid email
              </p>
              <p
                *ngIf="modelEmail.dirty && modelEmail?.errors?.['required']"
                class="text-danger"
              >
                Please enter email
              </p>
            </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Username</label>
            <input
              type="email"
              id="form3Example3"
              class="form-control"
              name="username"
              ngModel
              required
              minlength="4"
              #modelUsernameRegister="ngModel"
              [ngClass]="
                modelUsernameRegister.invalid && modelUsernameRegister.dirty
                  ? 'is-invalid'
                  : ''
              "
            />
            <p
              *ngIf="modelUsernameRegister.invalid && modelUsernameRegister.dirty && modelUsernameRegister?.errors?.['pattern']"
              class="text-danger"
            >
              Please enter valid username
            </p>
            <p
              *ngIf="modelUsernameRegister?.errors?.['required'] && modelUsernameRegister.dirty"
              class="text-danger"
            >
              Please enter username!
            </p>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Name</label>
            <input
              type="text"
              id="form3Example3"
              class="form-control"
              name="name"
              ngModel
              required
              pattern="^[a-zA-Z\- ']+$"
              minlength="3"
              #modelName="ngModel"
              [ngClass]="
                modelName.invalid && modelName.dirty ? 'is-invalid' : ''
              "
            />
            <div>
              <p
                *ngIf="modelName?.errors?.['minlength']?.['requiredLength']&& modelName.dirty && !modelName?.errors?.['pattern']"
                class="text-danger"
              >
                Please enter name of length
                {{modelName?.errors?.['minlength']?.['requiredLength'] | json}}
              </p>
              <p
                *ngIf="modelName?.errors?.['required'] && modelName.dirty"
                class="text-danger"
              >
                Please enter Name
              </p>
              <p *ngIf="modelName?.errors?.['pattern']" class="text-danger">
                Name should contain only alphabets
              </p>
            </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example4">Password</label>
            <input
              type="password"
              id="form3Example4"
              class="form-control"
              name="password"
              ngModel
              required
              minlength="3"
              #modelPasswordRegister="ngModel"
              [ngClass]="
                modelPasswordRegister.invalid && modelPasswordRegister.dirty
                  ? 'is-invalid'
                  : ''
              "
            />
            <div>
              <p
                *ngIf="modelPasswordRegister?.errors?.['minlength'] && modelPasswordRegister.dirty"
                class="text-danger"
              >
                Please enter minimum password of length
                {{modelPasswordRegister?.errors?.['minlength']?.['requiredLength']}}
              </p>
              <p
                *ngIf="modelPasswordRegister?.errors?.['required'] && modelPasswordRegister.dirty"
                class="text-danger"
              >
                Please enter password!
              </p>
            </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example4"
              >Confirm Password</label
            >
            <input
              type="password"
              id="form3Example4"
              class="form-control"
              name="confirmpassword"
              ngModel
              required
              minlength="3"
              #modelConfirmPassword="ngModel"
              [ngClass]="
                modelConfirmPassword.dirty &&
                modelPasswordRegister.value !== modelConfirmPassword.value
                  ? 'is-invalid'
                  : ''
              "
            />
            <div>
              <p
                *ngIf="modelConfirmPassword?.errors?.['required'] && modelConfirmPassword.dirty"
                class="text-danger"
              >
                Please enter confirm password!
              </p>
              <p
                *ngIf="
                  modelPasswordRegister.value !== modelConfirmPassword.value &&
                  modelConfirmPassword.dirty &&
                  modelConfirmPassword.value
                "
                class="text-danger"
              >
                Password mismatch!
              </p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-4">
            <span>Already registered?</span>
            <a
              style="cursor: pointer; letter-spacing: 1px; color: #1e3a8a"
              routerLink="/login"
              >Login here</a
            >
          </div>

          <div class="d-grid gap-2">
            <button
              type="submit"
              class="btn btn-primary btn-block mb-4"
              [disabled]="registerForm.invalid"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
