<div class="sidebar col-1 p-0">
  <div class="bg-body-tertiary h-100" tabindex="-1" >
    <div class="d-flex flex-column justify-content-center p-0 pt-3 min-vh-100 overflow-y-auto">
      <ul class="nav d-flex flex-column align-items-center">
        <li
          class="nav-item d-flex align-items-center px-4 sideBarItem"
          routerLink="/admin/home"
          routerLinkActive="sideBarActive"
          [routerLinkActiveOptions]="{ exact: true }"
          title="Home"
        >
          <i class="fa-solid fa-house" ></i>
        </li>
        <li
          class="nav-item d-flex align-items-center px-4 sideBarItem"
          [routerLink]="['/admin/campings']"
          routerLinkActive="sideBarActive"
          [routerLinkActiveOptions]="{ exact: true }"
          title="Campings"
        >
          <i class="fa-solid fa-tents"></i>
        </li>
        <li
          class="nav-item d-flex align-items-center px-4 sideBarItem"
          [routerLink]="['/admin/locations']"
          routerLinkActive="sideBarActive"
          [routerLinkActiveOptions]="{ exact: true }"
          title="Locations"
        >
          <i class="fa-solid fa-map-marker"></i>
        </li>
        <li
          class="nav-item d-flex align-items-center px-4 sideBarItem"
          [routerLink]="['admin/staff']"
          routerLinkActive="sideBarActive"
          [routerLinkActiveOptions]="{ exact: true }"
          title="Staffs"
        >
          <i class="fa-solid fa-user"></i>
        </li>
        <li
        class="nav-item d-flex align-items-center px-4 sideBarItem"
        title="Users"
      >
        <i class="fa-solid fa-users"></i>
      </li>
      <li
      class="nav-item d-flex align-items-center px-4 sideBarItem"
      [routerLink]="['admin/bookings']"
      routerLinkActive="sideBarActive"
      [routerLinkActiveOptions]="{ exact: true }"
      title="Bookings"
    >
      <i class="fa-solid fa-book"></i>
    </li>
      </ul>
    </div>
  </div>
</div>