<div class="container-fluid">
  <div class="row">
    <nav id="sidebar" class="col-1 d-md-block bg-dark sidebar">
      <div
        class="sidebar-sticky d-flex flex-column justify-content-center vh-100"
      >
        <ul class="nav flex-column align-items-center">
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="modal"
              data-bs-target="#searchModal"
              style="cursor: pointer"
            >
              <i class="fa fa-search"></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              data-toggle="tooltip"
              data-placement="right"
              title="Profile"
              routerLink="/"
            >
              <i class="fa fa-arrow-left"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-10 px-md-4">
      <section>
        <p
          class="mt-3"
          style="
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 50px;
            text-align: center;
          "
        >
          Our Locations
        </p>
        <div class="container mt-5 ms-5">
          <div class="row">
            <div class="conatiner d-flex" *ngFor="let location of locationList">
              <div class="col-md-6 m-2">
                <div class="card">
                  <img
                    src="../../../assets/images/img1.jpg"
                    class="card-img-top"
                    alt="Accommodation Image 1"
                    style="height: 300px"
                  />
                </div>
              </div>
              <div class="col-md-6 m-2">
                <div class="details">
                  <h3>{{ location.address }}</h3>
                  <p>Price: {{ location.price }} per night</p>
                  <p>Caravan Name: {{ location.caravanName }}</p>
                  <p>Caravan Capacity: {{ location.caravanCapacity }}</p>
                  <p>Stay Count: {{ location.stayCount }}</p>
                  <p *ngIf="isStaff(location.id)">
                    Staff Name: {{ getStaff(location.id) }}
                  </p>
                  <p style="color: red">
                    {{
                      loggedInUser()
                        ? ""
                        : "Please log in to book camping location"
                    }}
                  </p>
                  <button
                    class="btn btn-primary"
                    (click)="playAnimation()"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    data-bs-whatever="@mdo"
                    [disabled]="!loggedInUser()"
                  >
                    Book Now
                  </button>
                </div>
              </div>
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Choose Camping dates
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <form
                      (ngSubmit)="onSubmit(bookingForm, location.id)"
                      #bookingForm="ngForm"
                    >
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label"
                            >From Date</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="fromDate"
                            name="fromDate"
                            ngModel
                          />
                        </div>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label"
                            >To Date</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="toDate"
                            name="toDate"
                            ngModel
                          />
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button
                          class="btn btn-primary"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          Confirm
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div
        class="modal fade"
        id="exampleModalToggle2"
        aria-hidden="true"
        aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1"
      >
        <div
          class="modal-dialog modal-dialog-centered"
          style="height: 300px; width: 300px"
        >
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <ng-lottie [options]="options" *ngIf="loggedInUser()"></ng-lottie>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>


<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <input
          list="browsers"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
          aria-describedby="basic-addon2"
          style="border-radius: 15px"
        />
        <datalist datalist id="browsers">
          <option *ngFor="let location of locationList"
          [value]="location.name">{{location.name}}</option>
        </datalist>
        <div class="input-group-append"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>