<app-usernav></app-usernav>

<div class="container mt-5">
  <button class="btn btn-primary mb-2" >Edit Profile</button>
  <div class="row">
    <div class="col-6 " style="height: 150px;width: 150px;">
      <ng-lottie [options]="options"></ng-lottie>
      <p style="text-align: center;">Name</p>
    </div>
    <div class="col-6">
      <table class="table">
        <tbody>
          <tr>
            <td>Username:</td>
            <td>Programming</td>
          </tr>
          <tr>
            <td>Date of Birth:</td>
            <td>Programming</td>
          </tr>
          <tr>
            <td>Phone Number:</td>
            <td>06/01/2011</td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td>08/25/2016</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
