<app-usernav></app-usernav>

  <div class="container">
    <p style="color: #1e1b4b;font-size: 30px;text-align: center;">Welcome User!</p>
    
    <div class="profile-field">
      <strong>Date of Birth:</strong> <span id="dob">January 1, 1990</span>
    </div>
  
    <div class="profile-field">
      <strong>Phone Number:</strong> <span id="phoneNumber">+1 (555) 123-4567</span>
    </div>
  
    <div class="profile-field">
      <strong>Gender:</strong> <span id="gender">Female</span>
    </div>
    <button class="btn btn-primary">Update Profile</button>
    
  </div>