/* .card-gradient-1 {
  background: linear-gradient(to left,  #eff6ff, #f472b6);
}

.card-gradient-2 {
  background: linear-gradient(to left,  #eff6ff, #f472b6);
}

.card-gradient-3 {
  background: linear-gradient(to left,  #eff6ff, #f472b6);
}

.card-gradient-4 {
  background: linear-gradient(to left,  #eff6ff, #f472b6);
} */