<div class="row d-flex justify-content-center ms-5"  *ngIf="bookingList.length === 0">
  <div class="col-4">
    <ng-lottie [options]="options"></ng-lottie>
    <h3 style="text-align: center;">Oops! No bookings found!!</h3>
  </div>
</div>

<div class="mt-5 ms-5" *ngIf="bookingList.length > 0">
  <p style="font-size: 30px; font-weight: bold; color: #1e3a8a">Bookings</p>
  <table class="table table-striped">
    <thead>
      <tr class="table-primary">
        <th class="text-center" width="1%">Id</th>
        <th class="text-center">Camping Name</th>
        <th class="text-center">Address</th>
        <th class="text-center">Name</th>
        <th class="text-center">From Date</th>
        <th class="text-center">To Date</th>
        <th class="text-center">Payment Status</th>
      </tr>
    </thead>
    <tbody *ngFor="let booking of bookingList">
      <tr>
        <td class="text-center">{{ booking.id }}</td>
        <td class="text-center">{{ booking.campingName }}</td>
        <td class="text-center">{{ booking.address }}</td>
        <td class="text-center">{{ booking.name }}</td>
        <td class="text-center">{{ getDate(booking.fromDate) }}</td>
        <td class="text-center">{{ getDate(booking.toDate) }}</td>

        <td style="color: #4d7c0f" class="text-center">{{ booking.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
