<div class="container-fluid vh-100">
  <div class="row col-12 flex-grow-1 vh-100">
    <div class="sidebar col-1 p-0">
      <div class="bg-body-tertiary h-100" tabindex="-1">
        <div
          class="d-flex flex-column justify-content-center min-vh-100 overflow-y-auto"
        >
          <ul class="nav d-flex flex-column align-items-center">
            <li
              class="nav-item d-flex align-items-center mb-2 sideBarItem"
              routerLink="/admin/home"
              title="Home"
            >
              <i class="fa-solid fa-house"></i>
            </li>

            <li
              class="nav-item d-flex align-items-center mb-2 sideBarItem"
              [routerLink]="['/admin/campings']"
              title="Campings"
            >
              <i class="fa-solid fa-tents"></i>
            </li>
            <li
              class="nav-item d-flex align-items-center mb-2 sideBarItem"
              [routerLink]="['/admin/locations']"
              title="Locations"
            >
              <i class="fa-solid fa-map-marker"></i>
            </li>
            <li
              class="nav-item d-flex align-items-center mb-2 sideBarItem"
              [routerLink]="['/admin/staff']"
              title="Staffs"
            >
              <i class="fa-solid fa-user"></i>
            </li>
            <li
              class="nav-item d-flex align-items-center mb-2 sideBarItem"
              title="Users"
              routerLink="/admin/user-details"
            >
              <i class="fa-solid fa-users"></i>
            </li>
            <li
              class="nav-item d-flex align-items-center mb-2 sideBarItem"
              [routerLink]="['/admin/bookings']"
              title="Bookings"
            >
              <i class="fa-solid fa-book"></i>
            </li>
            <li
              class="nav-item d-flex align-items-center sideBarItem"
              routerLink="/"
              title="Back"
            >
              <i class="fa-solid fa-arrow-left"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main class="container col-11">
      <div class="container mt-5">
        <p style="font-size: 20px; font-weight: bold">Bookings</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Image</th>
              <th scope="col">Camping Name</th>
              <th scope="col">Address</th>
              <th scope="col">User Name</th>
              <th scope="col">Name</th>
              <th scope="col">From Date</th>
              <th scope="col">To Date</th>
              <th scope="col">Payment Status</th>
            </tr>
          </thead>
          <tbody *ngFor="let booking of bookingList">
            <tr>
              <td>{{ booking.id }}</td>
              <td>Image</td>
              <td>{{ booking.campingName }}</td>
              <td>{{ booking.address }}</td>
              <td>{{ booking.userName }}</td>
              <td>{{ booking.name }}</td>
              <td>{{ booking.fromDate }}</td>
              <td>{{ booking.toDate }}</td>

              <td style="color: green">{{ booking.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
