<div class="container">
  <div class="container mt-4">
    <div class="form-group">
      <label for="numberOfPersons">Number of Persons:</label>
      <input
        type="number"
        id="numberOfPersons"
        ngModel
        name="numberOfPersons"
        class="form-control"
      />
      <button (click)="generatePersons()" class="btn btn-primary mt-2">
        Generate Persons
      </button>
    </div>

    <form (ngSubmit)="submitForm(personDetails)" #personDetails="ngForm">
      <div
        *ngFor="let person of persons; let i = index"
        class="border p-3 mb-3"
      >
        <h3>Enter Person {{ i + 1 }} details:</h3>
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            ngModel
            name="name"
            class="form-control"
            required
            minlength="5"
            #modelName="ngModel"
            [ngClass]="modelName.invalid && modelName.dirty ? 'is-invalid' : ''"
          />
          <div>
            <p
              *ngIf="modelName?.errors?.['minlength'] && modelName.dirty"
              class="text-danger"
            >
              Please enter Name of minimum length
              {{modelName?.errors?.['minlength']?.['requiredLength']}}
            </p>
            <p
              *ngIf="modelName?.errors?.['required'] && modelName.dirty"
              class="text-danger"
            >
              Please enter Name!
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="age">Age:</label>
          <input
            type="number"
            id="age"
            ngModel
            required
            minlength="1"
            maxlength="120"
            #modelAge="ngModel"
            [ngClass]="modelAge.invalid && modelAge.dirty ? 'is-invalid' : ''"
          />
          <div>
            <p
              *ngIf="modelAge?.errors?.['minlength'] && modelGender.dirty"
              class="text-danger"
            >
              Please enter Age of greater than
              {{modelAge?.errors?.['minlength']?.['requiredLength']}}
            </p>
            <p
              *ngIf="modelAge?.errors?.['required'] && modelAge.dirty"
              class="text-danger"
            >
              Please enter Age!
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="gender">Gender:</label>
          <input
            type="text"
            id="gender"
            ngModel
            name="gender"
            class="form-control"
            required
            minlength="1"
            #modelGender="ngModel"
            [ngClass]="modelGender.invalid && modelGender.dirty ? 'is-invalid' : ''"
          />
          <div>
            <p
              *ngIf="modelGender?.errors?.['minlength'] && modelGender.dirty"
              class="text-danger"
            >
              Please enter gender of minimum length
              {{modelGender?.errors?.['minlength']?.['requiredLength']}}
            </p>
            <p
              *ngIf="modelGender?.errors?.['required'] && modelGender.dirty"
              class="text-danger"
            >
              Please enter Gender!
            </p>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
