<!-- <app-navbar></app-navbar> -->
<div class="ms-5 me-5 mt-5">
  <p
    style="
      font-size: 30px;
      font-weight: bold;
      color: #1e3a8a;
      text-align: center;
    "
  >
    Bookings
  </p>
  <table class="table table-striped">
    <thead>
      <tr class="table-primary">
        <th class="text-center" width="1%">Id</th>
        <th class="text-center">Camping</th>
        <th class="text-center">Address</th>
        <th class="text-center">Name</th>
        <th class="text-center">From Date</th>
        <th class="text-center">To Date</th>
        <th class="text-center">Payment Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let booking of bookingList">
      <tr>
        <td class="text-center">{{ booking.id }}</td>
        <td class="text-center">{{ booking.campingName }}</td>
        <td class="text-center">{{ booking.address }}</td>
        <td class="text-center">{{ booking.name }}</td>
        <td class="text-center">{{getDate(booking.fromDate)}}</td>
        <td class="text-center">{{getDate(booking.toDate)}}</td>
        <td class="text-center" style="color: #4d7c0f">{{ booking.status }}</td>
        <td class="text-center">
          <div  (click)="deleteBooking(booking.id)" style="color: #b91c1c;cursor: pointer;">
            Cancel 
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
