<app-adminnav></app-adminnav>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-6">
        <h2 class="display-4 text-primary">Add Camping</h2>
        <form (ngSubmit)="onSubmit(campingForm)" #campingForm="ngForm">
          <div class="form-outline mb-3">
            <label class="form-label" for="username">Camping Name</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Enter Name"
              name="name"
              ngModel
              required
              pattern="^[a-zA-Z\- ']+$"
              minlength="5"
              #modelName="ngModel"
              [ngClass]="
                modelName.invalid && modelName.dirty ? 'is-invalid' : ''
              "
            />
            <div>
              <p
                *ngIf="modelName?.errors?.['minlength']?.['requiredLength']&& modelName.dirty && !modelName?.errors?.['pattern']"
                class="text-danger"
              >
                Please enter name of length
                {{modelName?.errors?.['minlength']?.['requiredLength'] | json}}
              </p>
              <p
                *ngIf="modelName?.errors?.['required'] && modelName.dirty"
                class="text-danger"
              >
                Please enter Name
              </p>
              <p *ngIf="modelName?.errors?.['pattern']" class="text-danger">
                Name should contain only alphabets
              </p>
            </div>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="name">Description</label>
            <textarea
              class="form-control"
              placeholder="Enter Description"
              name="description"
              ngModel
              required
              minlength="15"
              #modelDescription="ngModel"
              [ngClass]="
              modelDescription.invalid && modelDescription.dirty ? 'is-invalid' : ''
              "
            ></textarea>
            <div>
              <p
                *ngIf="modelDescription?.errors?.['minlength']?.['requiredLength']&& modelDescription.dirty "
                class="text-danger"
              >
                Please enter description of length
                {{modelDescription?.errors?.['minlength']?.['requiredLength'] | json}}
              </p>
              <p
                *ngIf="modelDescription?.errors?.['required'] && modelDescription.dirty"
                class="text-danger"
              >
                Please enter description
              </p>
            
            </div>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="username">Photo</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Enter photo link"
            />
          </div>

          <div class="d-grid gap-2 mb-5">
            <button
              type="submit"
              class="btn btn-primary"
              routerLink="/admincampings"
              [disabled]="campingForm.invalid"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
