<app-adminnav></app-adminnav>
<div class="container mt-5">
  <p style="font-size: 20px; font-weight: bold">Campings</p>
  <!-- <button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    data-bs-whatever="@mdo"
  >
    Add Camping
  </button> -->
  <div
    class="plus-icon"
    style="
      position: fixed;
      bottom: 50px;
      right: 60px;
      font-size: 50px;
      cursor: pointer;
    "
     data-bs-toggle="modal"
     data-bs-target="#exampleModal"
     data-bs-whatever="@mdo"
  >
    <i class="fa fa-plus-circle"></i>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Image</th>
        <th scope="col">Camping Name</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let camp of campingList">
      <tr>
        <td class="col-2">{{ camp.id }}</td>
        <td class="col-2">Image</td>
        <td class="col-2">{{ camp.campingName }}</td>
        <td class="col-2 text-wrap">{{ camp.description }}</td>

        <td class="col-2">
          <div>
            <div
              class="btn btn-success me-2"
              (click)="editCamping(camp.id, campingForm)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@mdo"
            >
              Edit
            </div>
            <div class="btn btn-danger" (click)="deleteCamping(camp.id)">
              Remove
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Camping</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="reset(campingForm)"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(campingForm)" #campingForm="ngForm">
          <input type="hidden" id="id" name="id" />
          <div class="form-outline mb-3">
            <label class="form-label" for="username">Camping Name</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Enter Name"
              name="campingName"
              ngModel
              required
              pattern="^[a-zA-Z\- ']+$"
              minlength="5"
              #modelName="ngModel"
              [ngClass]="
                modelName.invalid && modelName.dirty ? 'is-invalid' : ''
              "
            />
            <div>
              <p
                *ngIf="modelName?.errors?.['minlength']?.['requiredLength']&& modelName.dirty && !modelName?.errors?.['pattern']"
                class="text-danger"
              >
                Please enter name of length
                {{modelName?.errors?.['minlength']?.['requiredLength'] | json}}
              </p>
              <p
                *ngIf="modelName?.errors?.['required'] && modelName.dirty"
                class="text-danger"
              >
                Please enter Name
              </p>
              <p *ngIf="modelName?.errors?.['pattern']" class="text-danger">
                Name should contain only alphabets
              </p>
            </div>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="name">Description</label>
            <textarea
              class="form-control"
              placeholder="Enter Description"
              name="description"
              ngModel
              required
              minlength="50"
              #modelDescription="ngModel"
              [ngClass]="
                modelDescription.invalid && modelDescription.dirty
                  ? 'is-invalid'
                  : ''
              "
            ></textarea>
            <div>
              <p
                *ngIf="modelDescription?.errors?.['minlength']?.['requiredLength']&& modelDescription.dirty "
                class="text-danger"
              >
                Please enter description of length
                {{modelDescription?.errors?.['minlength']?.['requiredLength'] | json}}
              </p>
              <p
                *ngIf="modelDescription?.errors?.['required'] && modelDescription.dirty"
                class="text-danger"
              >
                Please enter description
              </p>
            </div>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="username">Photo</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Enter photo link"
            />
          </div>
          <div class="d-grid gap-2 mb-5">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="campingForm.invalid"
              data-bs-dismiss="modal"
            >
              {{ button }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
