<div class="mt-5 ms-5">
  <p style="font-size: 30px; font-weight: bold; color: #1e3a8a">Locations</p>
  <!-- <button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    data-bs-whatever="@mdo"
  >
    Add Location
  </button> -->

  <div
    class="plus-icon"
    style="
      position: fixed;
      bottom: 40px;
      right: 50px;
      font-size: 50px;
      cursor: pointer;
    "
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    data-bs-whatever="@mdo"
  >
    <i class="fa fa-plus-circle"></i>
  </div>

  <table class="table table-striped">
    <thead>
      <tr class="table-primary">
        <th class="text-center">Id</th>
        <th class="text-center">Image</th>
        <th class="text-center">Name</th>
        <th class="text-center">Address</th>
        <th class="text-center">Caravan</th>
        <th class="text-center">Capacity</th>
        <th class="text-center">Price</th>
        <th class="text-center">Count</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let location of locationList">
      <tr>
        <td class="text-center">{{ location.id }}</td>
        <td class="text-center" style="cursor: pointer;">
          <img
            src="{{
              'http://localhost:8080/api/admin/location/downloadFile/' +
                location.id
            }}"
            style="height: 80px; width: 80px"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#imageModal' + location.id"
          />
        </td>
        <td class="text-center">{{ location.name }}</td>
        <td class="text-center">{{ location.address }}</td>
        <td class="text-center">{{ location.caravanName }}</td>
        <td class="text-center">{{ location.caravanCapacity }}</td>
        <td class="text-center">₹ {{ location.price }}</td>
        <td class="text-center">{{ location.stayCount }}</td>
        <td class="text-center col-1">
          <div class="d-flex justify-content-center">
            <div
              (click)="editLocation(location.id, locationForm)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@mdo"
              style="cursor: pointer"
            >
              <i
                class="fa fa-pencil me-4"
                aria-hidden="true"
                style="color: #1e3a8a"
              ></i>
            </div>

            <div (click)="deleteLocation(location.id)" style="cursor: pointer">
              <i
                class="fa fa-trash"
                aria-hidden="true"
                style="color: #b91c1c"
              ></i>
            </div>
          </div>
        </td>
        
      </tr>
      <div
          class="modal fade"
          [id]="'imageModal' + location.id"
          tabindex="-1"
          aria-labelledby="imageModalLabel"
          aria-hidden="true"
        >
        <div class="modal-dialog modal-lg modal-dialog-centered" style="background: transparent;">
          <div>
            <img
          src="{{
            'http://localhost:8080/api/admin/location/downloadFile/' +
              location.id
          }}"
          style="height: 500px;width: 785px;align-items: center;"
         />
          </div>
        </div>
        </div>
    </tbody>
  </table>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Location</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="reset(locationForm)"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(locationForm)" #locationForm="ngForm">
          <div class="form-outline mb-3">
            <label class="form-label" for="username">Choose Camping</label>
            <br />
            <select name="campingId" ngModel required>
              <option *ngIf="value.id > 0" value="value.id" selected>
                {{ value.camping.campingName }}
              </option>
              <option *ngFor="let camping of campingList" [value]="camping.id">
                {{ camping.campingName }}
              </option>
            </select>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="username">Location Name</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Enter Location Name"
              name="name"
              ngModel
              required
              pattern="^[a-zA-Z\- ']+$"
              minlength="5"
              #modelName="ngModel"
              [ngClass]="
                modelName.invalid && modelName.dirty ? 'is-invalid' : ''
              "
            />
            <div>
              <p
                *ngIf="modelName?.errors?.['minlength']?.['requiredLength']&& modelName.dirty && !modelName?.errors?.['pattern']"
                class="text-danger"
              >
                Please enter name of length
                {{modelName?.errors?.['minlength']?.['requiredLength'] | json}}
              </p>
              <p
                *ngIf="modelName?.errors?.['required'] && modelName.dirty"
                class="text-danger"
              >
                Please enter Name
              </p>
              <p *ngIf="modelName?.errors?.['pattern']" class="text-danger">
                Name should contain only alphabets
              </p>
            </div>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="username">Caravan Name</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Enter Caravan Name"
              name="caravanName"
              ngModel
              required
              minlength="5"
              #modelCaravanName="ngModel"
              [ngClass]="
                modelCaravanName.invalid && modelCaravanName.dirty
                  ? 'is-invalid'
                  : ''
              "
            />
            <div>
              <p
                *ngIf="modelCaravanName?.errors?.['minlength']?.['requiredLength']&& modelCaravanName.dirty "
                class="text-danger"
              >
                Please enter caravan name of length
                {{modelCaravanName?.errors?.['minlength']?.['requiredLength'] | json}}
              </p>
              <p
                *ngIf="modelCaravanName?.errors?.['required'] && modelCaravanName.dirty"
                class="text-danger"
              >
                Please enter caravan Name
              </p>
              <p
                *ngIf="modelCaravanName?.errors?.['pattern']"
                class="text-danger"
              >
                Caravan Name should contain only alphabets
              </p>
            </div>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="username">Caravan Capacity</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Caravan capacity"
              name="caravanCapacity"
              ngModel
              required
              pattern="^[1-9]\d*$"
              #modelCapacity="ngModel"
              [ngClass]="
                modelCapacity.invalid && modelCapacity.dirty ? 'is-invalid' : ''
              "
            />
            <div>
              <p
                *ngIf="modelCapacity?.errors?.['required'] && modelCapacity.dirty"
                class="text-danger"
              >
                Please enter Caravan capacity
              </p>
              <p *ngIf="modelCapacity?.errors?.['pattern']" class="text-danger">
                Capacity should contain only numbers greater than zero
              </p>
            </div>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="username">Price</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Price"
              name="price"
              ngModel
              required
              pattern="^[1-9]\d*$"
              #modelPrice="ngModel"
              [ngClass]="
                modelPrice.invalid && modelPrice.dirty ? 'is-invalid' : ''
              "
            />
            <div>
              <p
                *ngIf="modelPrice?.errors?.['required'] && modelPrice.dirty"
                class="text-danger"
              >
                Please enter Caravan capacity
              </p>
              <p *ngIf="modelPrice?.errors?.['pattern']" class="text-danger">
                Price should contain only numbers greater than zero
              </p>
            </div>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="username">Stay count</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Stay count"
              name="stayCount"
              ngModel
              required
              pattern="^[1-9]\d*$"
              #modelCount="ngModel"
              [ngClass]="
                modelCount.invalid && modelCount.dirty ? 'is-invalid' : ''
              "
            />
            <div>
              <p
                *ngIf="modelCount?.errors?.['required'] && modelCount.dirty"
                class="text-danger"
              >
                Please enter Stay Count
              </p>
              <p *ngIf="modelCount?.errors?.['pattern']" class="text-danger">
                Stay count should contain only numbers greater than zero
              </p>
            </div>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="name">Address</label>
            <textarea
              class="form-control"
              placeholder="Enter Address"
              name="address"
              ngModel
              required
              minlength="20"
              #modelAddress="ngModel"
              [ngClass]="
                modelAddress.invalid && modelAddress.dirty ? 'is-invalid' : ''
              "
            ></textarea>
            <div>
              <p
                *ngIf="modelAddress?.errors?.['minlength']?.['requiredLength']&& modelAddress.dirty "
                class="text-danger"
              >
                Please enter address of length
                {{modelAddress?.errors?.['minlength']?.['requiredLength'] | json}}
              </p>
              <p
                *ngIf="modelAddress?.errors?.['required'] && modelAddress.dirty"
                class="text-danger"
              >
                Please enter description
              </p>
            </div>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="username">Choose Image</label>
            <input
              type="file"
              class="input-file"
              id="customFile"
              ngModel
              name="photo"
              (change)="onFileChange($event)"
            />
          </div>

          <div class="d-grid gap-2 mb-5">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="locationForm.invalid"
              data-bs-dismiss="modal"
            >
              {{ button }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
